{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div class="container">
	<h1>Sign in</h1>

	{% if hasError %}
		<div class="alert alert-danger">Error: the username or password is incorrect!</div>
	{% endif %}

	<form action="{{ path('account_login') }}" method="POST">
		<div class="input-box">
			<label for="username">Username</label>
			<input type="text" name="_username" id="username" placeholder="Username" value="{{username}}" required />
		</div>
		<div class="input-box">
			<label for="password">Password</label>
			<input type="password" name="_password" id="password" placeholder="Password" required />
		</div>
		<div class="input-box button">
			<button type="submit">Sign in</button>
		</div>
	</form>
	<div class="existing-account">
		First time here? <a href="{{ path('account_register') }}">Create an account</a>
	</div>
</div>
{% endblock %}
