<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock %} - Waistline API</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
		{% for label, messages in app.flashes %}
			<div class="container mt-5">
				<div class="alert alert-dismissible alert-{{ label }}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					{% for message in messages %}
						<p class="mb-0">{{ message|raw }}</p>
					{% endfor %}
				</div>
			</div>
		{% endfor %}

        {% block body %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
