<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock %} - Waistline API</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex, nofollow" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		{% block stylesheets %}
        {% endblock %}
		<link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="wrapper">
			{% for label, messages in app.flashes %}
				<div class="alert alert-{{ label }}">
					{% for message in messages %}
						<p>{{ message|raw }}</p>
					{% endfor %}
				</div>
			{% endfor %}

			{% block body %}{% endblock %}
        </div>
		<div class="version">Version: {{ constant('App\\Constants::VERSION') }}</div>

        {% block javascripts %}
        {% endblock %}
		<script src="/js/main.js"></script>
    </body>
</html>
